<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Matrícula UPC</title>
	<link rel="shortcut icon" href="/matricula/upc.ico" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--headerIncludes-->

	<!-- css files -->
	<link rel="stylesheet" href="./bundles/css/style.css"> <!-- Style-CSS --> 
	<link href="./bundles/css/font-awesome.min.css" rel="stylesheet">
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->
	
</head>

<body>

    <div id="page" class="page">

    <div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form editContent">
				<h1 class="editContent">Login UPC</h1>
				<p class="editContent" style=""><br></p><p class="editContent" style=""><br></p><p class="editContent" style=""><br></p><p class="editContent" style=""><br></p><p class="editContent" style=""><br></p>
				<img src="../static/img/asd1.png" th:src="@{/static/img/asd1.png}">
			</div>
			<div class="w3_info editContent" style="outline: none; cursor: inherit;">
				<h2 class="editContent">Login</h2><p class="editContent" style=""><br></p>
				
				
				<form th:action="@{/login}" method="post">
					<div class="editContent">
						<label class="editContent">Usuario</label>
						<div class="input-group editContent medium-editor-placeholder" style="outline: none; outline-offset: -2px; cursor: inherit;">
							<span class="fa fa-user" aria-hidden="true" style="outline: none; cursor: inherit; outline-offset: -2px; color: rgb(255, 0, 0); font-size: 16px;" id="ui-id-2"></span>
							<input type="text"  name="username" id="username"  placeholder="Ingresa tu Usuario" required> 
						</div>
					</div>
					<div class="editContent" style="outline: none; outline-offset: -2px; cursor: inherit;">
						<label class="editContent">Contraseña</label>
						<div class="input-group editContent">
							<span class="fa fa-lock" aria-hidden="true" style="outline: none; cursor: inherit; outline-offset: -2px; color: rgb(255, 0, 0); font-size: 16px;"></span>
							<input type="Password"  name="password" id="password" placeholder="Ingresa tu Contraseña" required>
						</div> 
					</div> 						
						<button class="btn btn-danger btn-block" type="submit" style="outline: none; cursor: inherit;">Ingresar</button>
				</form>
				<br></br>
				 <div align="center" class="col-8 mb-2" >
			 			 <div class="alert alert-success" th:if="${success != null}"
							th:text="${success}" style="color:green;"></div>
			 	     	  <div class="alert alert-danger" th:if="${error != null}"
							th:text="${error}" style="color:red;"></div>
			 		     <div class="alert alert-info" th:if="${info != null}"
							th:text="${info}" ></div>
		       	</div>
				
			</div>
		</div>
		<!-- //main content -->
	</div>
	<!-- copyright -->
	<div class="copyright">
		<p></p>
	</div>
	<!-- copyright -->
</div></div>
	


</body></html>