<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Matrícula UPC</title>
<link rel="shortcut icon" href="/matricula/upc.ico" />

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">


		<ul  th:if="${cuenta.dif == 1}"
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<div th:replace="menuADM :: header"></div>

		</ul>
		<ul th:if="${cuenta.dif == 2}"
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<div th:replace="menuSTD :: header"></div>

		</ul>
		
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

					<!-- Topbar -->
					<nav
						class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

						<!-- Sidebar Toggle (Topbar) -->
						<button id="sidebarToggleTop"
							class="btn btn-link d-md-none rounded-circle mr-3">
							<i class="fa fa-bars"></i>
						</button>

					</nav>
					<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a th:href="@{/enrollments/list/}"
							class="nav-link ">Matricula</a></li>
						<li class="nav-item"><a th:href="@{/coursesxteachers/reports/}"
							class="nav-link active">Reporte</a></li>
					</ul>
					<!-- Page Heading -->
					<br>
					<h1 class="h3 mb-4 text-gray-800">Reporte por Semestre</h1>
					

					<hr class="sidebar-divider">
					
					<div class="container">
						<div id="Chart1" ></div>
						<div id="Chart2" ></div>
						<div id="Chart3" ></div>
					</div>

					<p th:text="${mensaje}" class="form-text text-success"></p>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Web 2020</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">¿Listo para
						salir?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Seleccione "Cerrar sesión" a
					continuación si está listo para finalizar su sesión actual.</div>
				<div class="modal-footer">
					<form id="logoutForm" th:action="@{/logout}" method="post">
						<button class="btn btn-danger"
							onclick="document.getElementById('logoutForm').submit();"
							type="submit">Cerrar</button>
						<button class="btn btn-dark" type="button" data-dismiss="modal"
							th:href="@{/coursesxteacher/reports}">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<script th:inline="javascript">
        var real_data1 = /*[[${chartData}]]*/'noValue';
        var real_data2 = /*[[${chartData2}]]*/'noValue';
        var real_data3 = /*[[${chartData3}]]*/'noValue';
        
        $(document).ready(function() {
            google.charts.load('current', {
            	packages : [ 'bar','corechart', 'bar', 'geochart' ]
            });

            google.charts.setOnLoadCallback(draw);
            google.charts.setOnLoadCallback(draw2);
            google.charts.setOnLoadCallback(draw3);
            
        });

        //Gráfico de Barras
        function draw() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Curso');
            data.addColumn('number', 'Estudiantes');
            Object.keys(real_data3).forEach(function(key) {
                data.addRow([ key, real_data3[key] ]);
            });
            var options = {
                title : 'Cursos más demandados',
                hAxis : {
                    title : 'Curso',
                },
                vAxis : {
                    title : 'Estudiantes'
                }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('Chart1'));
            chart.draw(data, options);
        }

        //Gráfico circular
        function draw2() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Docentes');
            data.addColumn('number', 'Estudiantes');
            Object.keys(real_data2).forEach(function(key) {
                data.addRow([ key, real_data2[key] ]);
            });
            var options = {
                title : 'Docentes más populares'
            };
            
            var chart = new google.visualization.PieChart(document
                    .getElementById('Chart2'));
            chart.draw(data, options);
        }

        //Gráfico de lineas
        function draw3() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Semestre');
            data.addColumn('number', 'Estudiantes');
            Object.keys(real_data1).forEach(function(key) {
                data.addRow([ key, real_data1[key] ]);
            });

            var options = {
                    title : 'Estudiantes Semestrales',
                    hAxis : {
                        title : 'Semestre',
                    },
                    vAxis : {
                        title : 'Estudiantes'
                    },
                    curveType: 'function',
                    legend: { position: 'bottom' },
                    pointsVisible: true
                };
            var chart = new google.visualization.LineChart(document.getElementById('Chart3'));
            chart.draw(data, options);
          }

        //
        
        
    </script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	
	
	

</body>

</html>
